@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif JP", serif;
  color: black;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
}

ul {
  margin-block: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

abbr {
  text-decoration: none;
}

section {
  -webkit-padding-before: 20cqi;
          padding-block-start: 20cqi;
}

.container {
  container-type: inline-size;
}

.Gh {
  position: fixed;
  inset: 0;
  pointer-events: none;
  container-type: inline-size;
  padding: 0 2cqi;
  z-index: 999;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  background-color: transparent;
}
.Gh__logo {
  /* width: min(150px, 20cqi); */
  position: fixed;
  inset: 2% auto auto 3%;
  margin-block: 0;
  pointer-events: auto;
}
.Gh__logo-svg {
  height: 70px;
  width: auto;
  display: block;
  color: black;
}
.Gh._top .Gh__logo-svg {
  color: white;
}
.Gh.-scroll .Gh__logo-svg {
  color: black;
}
.Gh__logo2 {
  margin-block: 0;
}
.Gh__logo2 a {
  display: inline-block;
}
.Gh__logo2-svg {
  height: 160px;
  width: auto;
  display: block;
  color: white;
}
.Gh__logo2-svg:hover {
  opacity: 0.7;
  cursor: pointer;
}
.Gh #btn {
  position: fixed;
  inset: 5% 3% auto auto;
  z-index: 200;
  pointer-events: auto;
}
.Gh__btn {
  width: 52px;
  height: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}
.Gh__btn-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.Gh__btn-line:nth-of-type(1) {
  top: 0;
}
.Gh__btn-line:nth-of-type(2) {
  top: 10px;
}
.Gh__btn-line:nth-of-type(3) {
  top: 20px;
}
.Gh._top .Gh__btn-line {
  background-color: white;
}
.Gh.-scroll .Gh__btn-line {
  background-color: black;
}
.Gh.-show {
  pointer-events: auto;
}
.Gh.-show .Gh__btn-line:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-20deg);
          transform: translateY(10px) rotate(-20deg);
  background-color: #fff;
}
.Gh.-show .Gh__btn-line:nth-of-type(2) {
  opacity: 0;
}
.Gh.-show .Gh__btn-line:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(20deg);
          transform: translateY(-10px) rotate(20deg);
  background-color: #fff;
}
.Gh.-show .Gh__overlay {
  opacity: 1;
  -webkit-mask-position: 0;
          mask-position: 0;
}
.Gh.-show.is-finish .Gh__overlay {
  -webkit-mask-size: 400% 400%;
          mask-size: 400% 400%;
  -webkit-transition: -webkit-mask-size 0.7s ease;
  transition: -webkit-mask-size 0.7s ease;
  transition: mask-size 0.7s ease;
  transition: mask-size 0.7s ease, -webkit-mask-size 0.7s ease;
}
.Gh.-show .Gh__inner {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: auto;
}
.Gh__overlay {
  position: absolute;
  inset: 0;
  background: #000;
  opacity: 0;
  -webkit-mask-image: -webkit-linear-gradient(135deg, transparent 0%, transparent 40%, #000 60%, #000 100%);
          mask-image: linear-gradient(-45deg, transparent 0%, transparent 40%, #000 60%, #000 100%);
  -webkit-mask-size: 200% 200%;
          mask-size: 200% 200%;
  -webkit-mask-position: 200% 200%;
          mask-position: 200% 200%;
  -webkit-transition: opacity 0.5s cubic-bezier(0.17, 0.84, 0.44, 1);
  transition: opacity 0.5s cubic-bezier(0.17, 0.84, 0.44, 1);
}
.Gh__inner {
  position: relative;
  z-index: 1;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: opacity 0.7s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.7s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.7s ease, transform 0.7s ease;
  transition: opacity 0.7s ease, transform 0.7s ease, -webkit-transform 0.7s ease;
  color: #fff;
  pointer-events: none;
}
.Gh__desc {
  display: grid;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  margin-block: 6cqi;
  -webkit-margin-start: 3cqi;
          margin-inline-start: 3cqi;
  grid-template-rows: 2fr 1fr;
}
.Gh__add {
  -webkit-align-self: end;
      -ms-flex-item-align: end;
          align-self: end;
}
.Gh__add > h3 {
  font-weight: 400;
  font-size: 15px;
  -webkit-margin-after: 2cqi;
          margin-block-end: 2cqi;
}
.Gh__add address {
  font-size: 13px;
  font-style: normal;
}
.Gh__add address dl {
  display: grid;
  grid-template-columns: 1fr 10fr;
  row-gap: 0.5cqi;
  -webkit-margin-before: 1cqi;
          margin-block-start: 1cqi;
}
.Gh__add address dl dt {
  position: relative;
}
.Gh__add address dl dt::after {
  content: ":";
  margin-right: 5px;
  margin-inline: 0;
}
.Gh__add address dl dd {
  margin-inline: 0;
}
.Gh__add address dl dd .tel a[href*="tel:"] {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .Gh__add address dl dd .tel a[href*="tel:"] {
    text-decoration: underline;
  }
}
.Gh__add address dl dd .mailto {
  text-decoration: underline;
}
.Gh__nav {
  display: grid;
  place-content: center;
}
.Gh__nav ul {
  display: grid;
  grid-template-rows: 1fr;
  gap: 5cqi;
  margin-block: 0;
  padding-inline: 0;
}
.Gh__nav ul li a {
  font-size: 22px;
}
.Gh__nav ul li a:hover {
  opacity: 0.7;
}

.Mv {
  -webkit-padding-before: 0;
          padding-block-start: 0;
  -webkit-margin-after: 1px;
          margin-block-end: 1px;
}

.swiper-slide-active .swiper-img,
.swiper-slide-duplicate-active .swiper-img,
.swiper-slide-prev .swiper-img {
  -webkit-animation: zoomUp 7s linear 0s normal both;
          animation: zoomUp 7s linear 0s normal both;
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.swiper {
  container-type: inline-size;
  height: 100vh;
}
.swiper-slide {
  position: relative;
}
.swiper-img {
  height: 100vh;
}
.swiper-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-head {
  position: absolute;
  right: 3%;
  bottom: 3cqi;
  text-align: right;
  color: white;
}
.swiper-head > h3 {
  font-size: 16px;
  font-weight: 400;
  -webkit-margin-after: 0.5cqi;
          margin-block-end: 0.5cqi;
}
.swiper-head > p {
  font-size: 12px;
  font-weight: 400;
}
.swiper .swiper-pagination {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 5cqi;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
}
.swiper .swiper-pagination-bullet {
  display: block;
  width: 3px;
  height: 4rem;
  cursor: pointer;
  -webkit-transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
  transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0;
}
.swiper .swiper-pagination-bullet:not(:first-child) {
  margin-top: 0.8rem;
}
.swiper .swiper-pagination-bullet-active {
  background-color: #ddd;
}

.Wks .container {
  -webkit-padding-start: 3%;
          padding-inline-start: 3%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.Wks .container::after {
  content: "content finished";
  position: absolute;
  bottom: 3px;
  left: 170px;
  visibility: visible;
  font-size: 16px;
  font-weight: 400;
  color: #c2c2cc;
  letter-spacing: 0.1em;
}
.Wks__ttl {
  font-size: 26px;
  font-weight: 400;
  color: #c2c2cc;
  position: -webkit-sticky;
  position: sticky;
  bottom: 3cqi;
  z-index: 1;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  visibility: hidden;
  -webkit-margin-before: -5cqi;
          margin-block-start: -5cqi;
  letter-spacing: 0.1em;
}
.Wks__ttl::before {
  content: "Works";
  position: absolute;
  top: 0;
  left: 20%;
  visibility: visible;
}
.Wks__list {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3cqi;
  -webkit-margin-after: 12cqi;
          margin-block-end: 12cqi;
}
.Wks .list__img {
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  -webkit-margin-after: 1cqi;
          margin-block-end: 1cqi;
}
.Wks .list__img img {
  height: auto;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  /* ゆっくり変化させる */
}
.Wks .list__img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  /* 拡大 */
}
.Wks .list__head > h3 {
  font-size: 14px;
  font-weight: 400;
}
.Wks .list__head > p {
  font-size: 11px;
  font-weight: 400;
}

.Ctc .container {
  padding-inline: 5%;
}
.Ctc__ttl {
  font-size: 26px;
  font-weight: 400;
  color: #c2c2cc;
  letter-spacing: 0.1em;
  -webkit-margin-after: 6cqi;
          margin-block-end: 6cqi;
}
.Ctc__txt {
  font-size: 14px;
  -webkit-margin-after: 3cqi;
          margin-block-end: 3cqi;
}
.Ctc__add {
  -webkit-align-self: end;
      -ms-flex-item-align: end;
          align-self: end;
}
.Ctc__add-head {
  font-weight: 400;
  font-size: 15px;
  -webkit-margin-after: 1cqi;
          margin-block-end: 1cqi;
}
.Ctc__add address {
  font-size: 13px;
  font-style: normal;
}
.Ctc__add address dl {
  display: grid;
  grid-template-columns: 1fr 30fr;
  row-gap: 0.5cqi;
  -webkit-margin-before: 0.5cqi;
          margin-block-start: 0.5cqi;
}
.Ctc__add address dl dt {
  position: relative;
}
.Ctc__add address dl dt::after {
  content: ":";
  margin-right: 5px;
  margin-inline: 0;
}
.Ctc__add address dl dd {
  margin-inline: 0;
}
.Ctc__add address dl dd .tel a[href*="tel:"] {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .Ctc__add address dl dd .tel a[href*="tel:"] {
    text-decoration: underline;
  }
}
.Ctc__add address dl dd .mailto {
  text-decoration: underline;
}

.Ft {
  margin-block: 15cqi 3cqi;
}
.Ft .copy {
  text-align: center;
}
.Ft .copy small {
  font-size: 11px;
  color: #c2c2cc;
}

.opening {
  position: fixed;
  inset: 0;
  background: #fff;
  display: grid;
  place-items: center;
  z-index: 9999;
}
.opening__text {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  white-space: nowrap;
}
.opening__text::after {
  content: "|";
  margin-left: 4px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}
@media screen and (max-width: 768px) {
  .opening__text {
    font-size: 2rem;
  }
}
.opening.is-hide {
  -webkit-animation: slideDown 0.9s cubic-bezier(0.4, 0, 0.2, 1) forwards;
          animation: slideDown 0.9s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes slideDown {
  to {
    opacity: 0;
    -webkit-transform: translateY(120px);
            transform: translateY(120px);
    visibility: hidden;
  }
}
@keyframes slideDown {
  to {
    opacity: 0;
    -webkit-transform: translateY(120px);
            transform: translateY(120px);
    visibility: hidden;
  }
}
.opening.is-hide .opening__text::after {
  display: none;
}

.Abt .container {
  max-width: 1200px;
  margin-inline: 5cqi;
}
.Abt__ttl {
  font-size: 26px;
  font-weight: 400;
  color: #c2c2cc;
  letter-spacing: 0.1em;
  -webkit-margin-after: 10cqi;
          margin-block-end: 10cqi;
}
.Abt__in {
  -webkit-border-before: 1px solid #c2c2cc;
          border-block-start: 1px solid #c2c2cc;
  -webkit-padding-before: 5cqi;
          padding-block-start: 5cqi;
  display: grid;
  grid-template-columns: 1fr 4fr;
  -webkit-padding-after: 14cqi;
          padding-block-end: 14cqi;
}
.Abt__in:last-child {
  -webkit-border-after: 1px solid #c2c2cc;
          border-block-end: 1px solid #c2c2cc;
}
.Abt__in > h3 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  -webkit-align-self: start;
      -ms-flex-item-align: start;
          align-self: start;
}
.Abt__in > dl {
  display: grid;
  gap: 3cqi;
  -webkit-margin-before: 10cqi;
          margin-block-start: 10cqi;
}
.Abt__in > dl > div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-size: 14px;
}
.Abt__in > dl > div dt.clm1 {
  display: none;
}
.Abt__in > dl > div dd.clm1 {
  grid-column: 1/-1;
  -webkit-margin-after: 3cqi;
          margin-block-end: 3cqi;
}
.Abt__in > dl > div dd .map {
  display: inline-block;
  text-decoration: underline;
  position: relative;
  -webkit-padding-start: 2cqi;
          padding-inline-start: 2cqi;
  -webkit-margin-before: 1cqi;
          margin-block-start: 1cqi;
}
.Abt__in > dl > div dd .map::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: auto;
  background-image: url(../img/icon_map.svg);
  background-position: center;
  background-size: contain;
  aspect-ratio: 13/16;
  position: absolute;
  top: 3px;
  left: 0;
}
.Abt__in > dl > div dd ol li {
  list-style: decimal-leading-zero;
}/*# sourceMappingURL=style.css.map */