$breakpoints: (
  'md': 'screen and (max-width: 768px)',
  ) !default;

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


$font-ja: "Noto Serif JP",
  serif;

html {
  scroll-behavior: smooth;
  // scroll-margin-top: 80px;
}

body {
  font-family: $font-ja;
  color: black;
  line-height: 1.6;
  letter-spacing: .05em;

  &.is-menu-open {
    overflow: hidden;
  }
}

body.is-light {
  background: #fff;
}

body.is-dark {
  // background: #111;
  // color: #eee;
}


a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
}

ul {
  margin-block: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

abbr {
  text-decoration: none;
}

section {
  padding-block-start: 20cqi;
  container-type: inline-size;
}

.container {
  container-type: inline-size;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0
  );
white-space: nowrap;
border: 0;
}


//header

.Gh {
  position: fixed;
  inset: 0;
  pointer-events: none;
  container-type: inline-size;
  padding: 0 4%;
  z-index: 998;
  transition: background-color 0.3s,
    color 0.3s;
  background-color: transparent;
  isolation: isolate;

  &__logo {
    position: fixed;
    inset: 3cqi auto auto;
    margin-block: 0;
    pointer-events: auto;

    &-svg {
      height: 140px;
      width: auto;
      display: block;
      color: white;
    }
  }

  &.-scroll {
    .Gh__logo-svg {
      color: black;
    }
  }

  &__des {
    &-logo {
      margin-block: 0;

      a {
        display: inline-block;
      }
    }

    &-svg {
      height: 160px;
      width: auto;
      display: block;
      color: black;

      &:hover {
        opacity: .7;
        cursor: pointer;
      }
    }
  }


  &.-show {
    pointer-events: auto;

    .Gh__overlay {
      opacity: 1;
      mask-position: 0;
    }

    &.is-finish {
      .Gh__overlay {
        mask-size: 400% 400%;
        transition: mask-size .7s ease;
      }
    }

    .Gh__inner {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: white;
    opacity: 0;
    mask-image: linear-gradient(-45deg,
        transparent 0%,
        transparent 40%,
        white 60%,
        white 100%);
    mask-size: 200% 200%;
    mask-position: 200% 200%;

    transition:
      opacity .5s cubic-bezier(0.17, 0.84, 0.44, 1);
  }

  &__inner {
    position: relative;
    z-index: 1;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    opacity: 0;
    transform: translateY(30px);
    transition:
      opacity 0.7s ease,
      transform 0.7s ease;
    color: #fff;
    pointer-events: none;
  }

  &__desc {
    display: grid;
    align-content: space-between;
    margin-block: 6cqi;
    margin-inline-start: 3cqi;
    grid-template-rows: 2fr 1fr;
  }

  &__add {
    align-self: end;
    color: black;

    >h3 {
      font-weight: 400;
      font-size: 15px;
      margin-block-end: 2cqi;
    }

    address {
      font-size: 13px;
      font-style: normal;

      dl {
        display: grid;
        grid-template-columns: auto 1fr;
        row-gap: .5cqi;
        margin-block-start: 1cqi;

        dt {
          position: relative;

          &::after {
            content: ":";
            margin-right: 5px;
            margin-inline: 0;
          }
        }

        dd {
          margin-inline: 0;

          .mailto {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__nav {
    display: grid;
    place-content: center;

    ul {
      display: grid;
      grid-template-rows: 1fr;
      gap: 5cqi;
      margin-block: 0;
      padding-inline: 0;

      li {
        a {
          font-size: 22px;
          color: black;

          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }
}

#btn {
  position: fixed;
  inset: 4cqi 2% auto auto;
  z-index: 999;
  pointer-events: auto;
}

.menu {
  &__btn {
    width: 60px;
    height: 60px;
    padding: 0;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    // mix-blend-mode: difference;

    .dot {
      width: 8px;
      height: 8px;
      background: white;
      border-radius: 50%;
      display: block;


      &:nth-child(1),
      &:nth-child(5) {
        grid-column: 1 / -1;
      }

      &:nth-child(2),
      &:nth-child(4) {
        opacity: 0;
      }

    }
  }

}

body.is-menu-open {
  pointer-events: auto;

  .menu__btn {
    transform: rotate(45deg);
    mix-blend-mode: normal;

    .dot {
      opacity: 1;
      background: black;
    }

  }

}

.Gh.-scroll {
  .menu__btn {
    .dot {
      background-color: black;
    }
  }
}


//sec-Mv
.Mv {
  padding-block-start: 0;
  margin-block-end: 1px;
}

.swiper-slide-active .swiper-img,
.swiper-slide-duplicate-active .swiper-img,
.swiper-slide-prev .swiper-img {
  animation: zoomUp 7s linear 0s normal both;
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}

.swiper {
  container-type: inline-size;
  height: 100vh;

  &-slide {
    position: relative;


  }

  &-img {
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-head {
    position: absolute;
    right: 6%;
    bottom: 3cqi;
    text-align: right;
    color: white;

    >h3 {
      font-size: 16px;
      font-weight: 400;
      margin-block-end: .5cqi;
    }

    >p {
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

}

//sec-Wks
.Wks {
  .container {
    padding-inline-start: 15%;
    display: flex;
    position: relative;

  }

  &__list {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3cqi;
    margin-block-end: 12cqi;

  }

  .list {
    &__img {
      // cursor: pointer;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        transition: transform 0.6s ease;
      }

      &:hover img {
        transform: scale(1.1);
        /* 拡大 */
      }

    }

    &__overlay {
      position: absolute;
      inset: 0;
      display: grid;
      place-content: center;
      text-align: center;
      color: #fff;
      background: rgba(0, 0, 0, 0.4);

      opacity: 0;
      transition: opacity 0.4s ease;

      >h3 {
        font-size: 14px;
        font-weight: 400;
      }

      >p {
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    @media (hover: hover) {
      &__link:hover img {
        transform: scale(1.08);
      }

      &__link:hover .list__overlay {
        opacity: 1;
      }

      &__link.is-active .list__overlay {
        //sp-click
        opacity: 1;
      }
    }


  }
}


//sec-abt
.Abt {
  .container {
    // max-width: 1200px;
    // margin-inline: 5cqi;
    padding-inline: 5cqi;

  }

  &__in {
    border-block-start: 1px solid #c2c2cc;
    padding-block-start: 5cqi;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10cqi;
    padding-block-end: 14cqi;

    &:last-child {
      border-block-end: 1px solid #c2c2cc;
      margin-block-end: 15cqi;
    }

    >h3 {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.1em;
      position: sticky;
      top: 200px;
      align-self: start;
    }

    >dl {
      display: grid;
      gap: 3cqi;
      margin-block-start: 10cqi;

      >div {
        display: grid;
        grid-template-columns: 1fr 3fr;
        font-size: 14px;

        dt {
          &.clm1 {
            display: none;
          }
        }

        dd {
          &.clm1 {
            grid-column: 1 / -1;
            margin-block-end: 3cqi;
          }

          ol {
            li {
              list-style: decimal-leading-zero;
            }
          }
        }
      }

    }
  }
}


//sec-ctc
.Ctc {
  .container {
    padding-inline: 5cqi;
  }


  &__txt {
    font-size: 14px;
    margin-block-end: 3cqi;
  }

  &__add {
    align-self: end;

    &-head {
      font-weight: 400;
      font-size: 15px;
      margin-block-end: 1cqi;
    }

    address {
      font-size: 13px;
      font-style: normal;

      dl {
        display: grid;
        grid-template-columns: auto 1fr;
        row-gap: .5cqi;
        margin-block-start: .5cqi;

        dt {
          position: relative;

          &::after {
            content: ":";
            display: inline-block;
            padding-right: 5px;
          }
        }

        dd {
          margin-inline: 0;

          .tel {
            a[href*="tel:"] {
              pointer-events: none;
              cursor: default;
              text-decoration: none;
            }

            @include media(md) {
              a[href*="tel:"] {
                text-decoration: underline;
              }
            }

          }

          .mailto {
            text-decoration: underline;
          }
        }
      }
    }
  }

}

//footer
.Ft {
  margin-block: 15cqi 3cqi;

  .copy {
    text-align: center;

    small {
      font-size: 11px;
      color: #c2c2cc;

    }
  }
}

//op-anime

.openingAnm {
  position: fixed;
  inset: 0;
  background: #fff;
  display: grid;
  place-items: center;
  z-index: 9999;
  animation: openingFadeOut 1s ease forwards;
  animation-delay: 2.6s;

  &__logo {
    width: 180px;
    opacity: 0;
    transform: scale(0.98);
    animation:
      logoFadeIn 1.2s ease forwards,
      logoFadeOut 0.8s ease forwards;

    animation-delay:
      0.4s,
      2s;
    color: #000;

  }
}

@keyframes logoFadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes openingFadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.content {
  opacity: 0;
  animation: contentFadeIn 1s ease forwards;
  animation-delay: 3s;
}

@keyframes contentFadeIn {
  to {
    opacity: 1;
  }
}


@media (prefers-reduced-motion: reduce) {

  .openingAnm,
  .openingAnm__logo,
  .content {
    animation: none !important;
    opacity: 1 !important;
  }
}

//bg-anime
@keyframes ani-your_css_selector_here {
    0% {
        --c-0: hsla(266, 1%, 12%, 1);
        --s-start-0: 9%;
        --s-end-0: 55%;
        --y-0: 80%;
        --x-0: 85%;
        --x-1: 60%;
        --s-start-1: 5%;
        --s-end-1: 72%;
        --y-1: 24%;
        --c-1: hsla(335, 2%, 22%, 1);
        --c-2: hsla(53, 0%, 0%, 0.49);
        --s-start-2: 5%;
        --s-end-2: 52%;
        --x-2: 13%;
        --y-2: 82%;
        --y-3: 7%;
        --s-start-3: 13%;
        --s-end-3: 68%;
        --x-3: 24%;
        --c-3: hsla(299, 4%, 36%, 1);
    }

    100% {
        --c-0: hsla(266, 0%, 12%, 1);
        --s-start-0: 9%;
        --s-end-0: 55%;
        --y-0: 94%;
        --x-0: 31%;
        --x-1: 2%;
        --s-start-1: 5%;
        --s-end-1: 72%;
        --y-1: 25%;
        --c-1: hsla(0, 4%, 19%, 1);
        --c-2: hsla(54, 0%, 0%, 0.49);
        --s-start-2: 5%;
        --s-end-2: 52%;
        --x-2: 98%;
        --y-2: 20%;
        --y-3: 92%;
        --s-start-3: 13%;
        --s-end-3: 68%;
        --x-3: 95%;
        --c-3: hsla(298, 3%, 41%, 1);
    }
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(266, 1%, 12%, 1)
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 55%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 80%
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 85%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 60%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 72%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(335, 2%, 22%, 1)
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(53, 0%, 0%, 0.49)
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 52%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 82%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 68%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(299, 4%, 36%, 1)
}




body.is-dark {
  #shimmerAnm {
    position: relative;

    // overflow: hidden;
    &::after {
      content: "";
      position: fixed;
      inset: 0;
      z-index: -1;
      --c-0: hsla(266, 1%, 12%, 1);
    --y-0: 80%;
    --x-0: 85%;
    --x-1: 60%;
    --y-1: 24%;
    --c-1: hsla(335, 2%, 22%, 1);
    --c-2: hsla(53, 0%, 0%, 0.49);
    --x-2: 13%;
    --y-2: 82%;
    --y-3: 7%;
    --x-3: 24%;
    --c-3: hsla(299, 4%, 36%, 1);
    ;
    background-color: hsla(0, 0%, 0%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));
    animation: ani-your_css_selector_here 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal;
    will-change: transform, opacity;
    contain: paint
    }
  }
}