$breakpoints: (
  'md': 'screen and (max-width: 768px)',
  ) !default;

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


$font-ja: "Noto Serif JP",
  serif;

html {
  scroll-behavior: smooth;
  // scroll-margin-top: 80px;
}

body {
  font-family: $font-ja;
  color: black;
  line-height: 1.6;
  letter-spacing: .05em;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
}

ul {
  margin-block: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

section {
  padding-block-start: 20cqi;
}

.container {
  container-type: inline-size;
}

//header

.Gh {
  position: fixed;
  inset: 0;
  pointer-events: none;
  container-type: inline-size;
  padding: 0 2cqi;
  z-index: 999;
  transition: background-color 0.3s,
    color 0.3s;
  background-color: transparent;

  &__logo {
    /* width: min(150px, 20cqi); */
    position: fixed;
    inset: 2% auto auto 3%;
    margin-block: 0;
    pointer-events: auto;

    &-svg {
      height: 70px;
      width: auto;
      display: block;
      color: white;
    }
  }

  &.-scroll {
    .Gh__logo-svg {
      color: black;
    }
  }

  &__logo2 {
    margin-block: 0;

    // display: grid;
    // place-content: center;
    a {
      display: inline-block;
    }

    &-svg {
      height: 160px;
      width: auto;
      display: block;
      color: white;

      &:hover {
        opacity: .7;
        cursor: pointer;
      }
    }
  }

  #btn {
    position: fixed;
    inset: 5% 3% auto auto;
    z-index: 200;
    pointer-events: auto;
  }

  &__btn {
    width: 52px;
    height: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;

    &-line {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: white;
      transition: all .4s;

      &:nth-of-type(1) {
        top: 0;
      }

      &:nth-of-type(2) {
        top: 10px;
      }

      &:nth-of-type(3) {
        top: 20px;
      }
    }
  }

  &.-scroll {
    .Gh__btn-line {
      background-color: black;
    }
  }

  &.-show {
    pointer-events: auto;

    .Gh__btn-line {
      &:nth-of-type(1) {
        transform: translateY(10px) rotate(-20deg
        );
      background-color: #fff;
    }

    &:nth-of-type(2) {
      opacity: 0;
    }

    &:nth-of-type(3) {
      transform: translateY(-10px) rotate(20deg);
      background-color: #fff;
    }
  }

  .Gh__overlay {
    opacity: 1;
    mask-position: 0;
  }

  &.is-finish {
    .Gh__overlay {
      mask-size: 400% 400%;
      transition: mask-size .7s ease;
    }
  }

  .Gh__inner {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

&__overlay {
  position: absolute;
  inset: 0;
  background: #000;
  opacity: 0;
  mask-image: linear-gradient(-45deg,
      transparent 0%,
      transparent 40%,
      #000 60%,
      #000 100%);
  mask-size: 200% 200%;
  mask-position: 200% 200%;

  transition:
    opacity .5s cubic-bezier(0.17, 0.84, 0.44, 1);
}

&__inner {
  position: relative;
  z-index: 1;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.7s ease,
    transform 0.7s ease;
  color: #fff;
  pointer-events: none;
}

&__desc {
  display: grid;
  align-content: space-between;
  margin-block: 6cqi;
  margin-inline-start: 3cqi;
  grid-template-rows: 2fr 1fr;
}

&__add {
  align-self: end;

  h2 {
    font-weight: 400;
    font-size: 15px;
    margin-block-end: 2cqi;
  }

  address {
    font-size: 13px;
    font-style: normal;

    dl {
      display: grid;
      grid-template-columns: 1fr 10fr;
      row-gap: .5cqi;
      margin-block-start: 1cqi;

      dt {
        position: relative;

        &::after {
          content: ":";
          margin-right: 5px;
          margin-inline: 0;
        }
      }

      dd {
        margin-inline: 0;

        .tel {
          a[href*="tel:"] {
            pointer-events: none;
            cursor: default;
            text-decoration: none;
          }

          @include media(md) {
            a[href*="tel:"] {
              text-decoration: underline;
            }
          }

        }

        .mailto {
          text-decoration: underline;
        }
      }
    }
  }
}

&__nav {
  display: grid;
  place-content: center;

  ul {
    display: grid;
    grid-template-rows: 1fr;
    gap: 5cqi;
    margin-block: 0;
    padding-inline: 0;

    li {
      a {
        font-size: 22px;

        &:hover {
          opacity: .7;
        }
      }
    }
  }
}
}

//sec-Mv
.Mv {
  padding-block-start: 0;
  margin-block-end: 1px;
}

.swiper-slide-active .swiper-img,
.swiper-slide-duplicate-active .swiper-img,
.swiper-slide-prev .swiper-img {
  animation: zoomUp 7s linear 0s normal both;
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}

.swiper {
  container-type: inline-size;
  height: 100vh;

  &-slide {
    position: relative;


  }

  &-img {
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-head {
    position: absolute;
    right: 3%;
    bottom: 3cqi;
    text-align: right;
    color: white;

    h2 {
      font-size: 16px;
      font-weight: 400;
      margin-block-end: .5cqi;
    }

    h3 {
      font-size: 12px;
      font-weight: 400;
    }
  }

  .swiper {
    &-pagination {
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 5cqi;
      height: max-content;
      margin: auto;

      &-bullet {
        display: block;
        width: 3px;
        height: 4rem;
        cursor: pointer;
        transition: .8s cubic-bezier(.2, 1, .2, 1);
        background-color: rgba(255, 255, 255, .7);
        border-radius: 0;

        &:not(:first-child) {
          margin-top: 0.8rem;
        }

        &-active {
          background-color: #ddd;
        }
      }
    }

  }

}

//sec-Wks
.Wks {
  .container {
    padding-inline-start: 3%;
    display: flex;
    position: relative;

    &::after {
      content: "content finished";
      position: absolute;
      bottom: 3px;
      left: 13.2%;
      visibility: visible;
      font-size: 16px;
      font-weight: 400;
      color: #c2c2cc;
      letter-spacing: 0.1em;
    }
  }

  &__ttl {
    font-size: 26px;
    font-weight: 400;
    color: #c2c2cc;
    position: sticky;
    bottom: 3cqi;
    z-index: 1;
    align-self: flex-end;
    visibility: hidden;
    margin-block-start: -5cqi;
    letter-spacing: 0.1em;

    &::before {
      content: "Works";
      position: absolute;
      top: 0;
      left: 20%;
      visibility: visible;
    }

  }

  &__list {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3cqi;
    // margin-block-start: 12cqi;
    margin-block-end: 12cqi;
    margin-inline-start: auto;

  }

  .list {
    &__img {
      cursor: pointer;
      overflow: hidden;
      width: 100%;
      // margin-inline-end: 3cqi;
      margin-block-end: 1cqi;

      img {
        height: auto;
        transition: transform .6s ease;
        /* ゆっくり変化させる */
      }

      &:hover img {
        transform: scale(1.1);
        /* 拡大 */
      }

    }

    &__head {
      h2 {
        font-size: 14px;
        font-weight: 400;
      }

      h3 {
        font-size: 11px;
        font-weight: 400;
      }
    }
  }
}

//sec-ctc
.Ctc {
  .container {
    padding-inline: 5%;
  }

  &__ttl {
    font-size: 26px;
    font-weight: 400;
    color: #c2c2cc;
    letter-spacing: 0.1em;
    margin-block-end: 6cqi;
  }

  &__txt {
    font-size: 14px;
    margin-block-end: 3cqi;
  }

  &__add {
    align-self: end;

    h2 {
      font-weight: 400;
      font-size: 15px;
      margin-block-end: 1cqi;
    }

    address {
      font-size: 13px;
      font-style: normal;

      dl {
        display: grid;
        grid-template-columns: 1fr 30fr;
        row-gap: .5cqi;
        margin-block-start: .5cqi;

        dt {
          position: relative;

          &::after {
            content: ":";
            margin-right: 5px;
            margin-inline: 0;
          }
        }

        dd {
          margin-inline: 0;

          .tel {
            a[href*="tel:"] {
              pointer-events: none;
              cursor: default;
              text-decoration: none;
            }

            @include media(md) {
              a[href*="tel:"] {
                text-decoration: underline;
              }
            }

          }

          .mailto {
            text-decoration: underline;
          }
        }
      }
    }
  }

}

//footer
.Ft {
  margin-block: 15cqi 3cqi;

  .copy {
    text-align: center;

    small {
      font-size: 11px;
      color: #c2c2cc;

    }
  }
}

//op-anime
.opening {
  position: fixed;
  inset: 0;
  background: #fff;
  display: grid;
  place-items: center;
  z-index: 9999;

  &__text {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    white-space: nowrap;

    &::after {
      content: "|";
      margin-left: 4px;
      animation: blink 1s infinite;
    }

    @include media(md) {
      font-size: 2rem;
    }
  }
  &.is-hide {
  animation: slideDown 0.9s cubic-bezier(.4, 0, .2, 1) forwards;

}
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes slideDown {
  to {
    opacity: 0;
    transform: translateY(120px);
    visibility: hidden;
  }
}

.opening.is-hide .opening__text::after {
  display: none;
}